/* Add CSS styling here */
*{
    font-size:10px;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:4rem;
    text-shadow:2px 2px lightgray;
}
nav {
    display:flex;
    justify-content:flex-start;
}
nav a{
    font-family:'Times New Roman', Times, serif;
    font-size:2rem;
    padding:0 4px;
    text-decoration:none;
    color:black;
    border: solid 1px black;
    margin:0 2px;
}
.home{
    background-color:black;
    color:white;
}



